<p>
  <b>Cart:</b>
  <%=h @cart_line_item.cart_id %>
</p>

<p>
  <b>Product:</b>
  <%=h @cart_line_item.product_id %>
</p>

<p>
  <b>Quantity:</b>
  <%=h @cart_line_item.quantity %>
</p>


<%= link_to 'Edit', edit_cart_line_item_path(@cart_line_item) %> |
<%= link_to 'Back', cart_line_items_path %>